//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 05 00:25:24 2020
//! **************************************************************************

SCHEMATIC START;
COMP "led_0" LOCATE = SITE "AP22" LEVEL 1;
COMP "led_1" LOCATE = SITE "AP21" LEVEL 1;
COMP "led_2" LOCATE = SITE "AP20" LEVEL 1;
COMP "pci_exp_rxp<0>" LOCATE = SITE "J3" LEVEL 1;
COMP "pci_exp_rxp<1>" LOCATE = SITE "K5" LEVEL 1;
COMP "pci_exp_rxp<2>" LOCATE = SITE "L3" LEVEL 1;
COMP "pci_exp_rxp<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "pci_exp_rxp<4>" LOCATE = SITE "R3" LEVEL 1;
COMP "pci_exp_rxp<5>" LOCATE = SITE "U3" LEVEL 1;
COMP "pci_exp_rxp<6>" LOCATE = SITE "W3" LEVEL 1;
COMP "pci_exp_rxp<7>" LOCATE = SITE "AA3" LEVEL 1;
COMP "sys_reset_n" LOCATE = SITE "AE13" LEVEL 1;
COMP "sys_clk_p" LOCATE = SITE "P6" LEVEL 1;
PIN MMCM_PHASE_CALIBRATION_ML_LUT2_12_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LUT2_12" PINNAME O6;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_11_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_11" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_10_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_10" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_9_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_9" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_8_pins<0> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_8" PINNAME CK;
PIN "MMCM_PHASE_CALIBRATION_ML_LUT2_12_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_11_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_10_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_9_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_8_pins<0>" TIG;
SCHEMATIC END;

