//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 12 21:45:05 2019
//! **************************************************************************

SCHEMATIC START;
COMP "seg_data<4>" LOCATE = SITE "AP19" LEVEL 1;
COMP "seg_data<5>" LOCATE = SITE "AP20" LEVEL 1;
COMP "seg_data<6>" LOCATE = SITE "AP21" LEVEL 1;
COMP "rxd" LOCATE = SITE "B8" LEVEL 1;
COMP "rst" LOCATE = SITE "A10" LEVEL 1;
COMP "txd" LOCATE = SITE "A8" LEVEL 1;
COMP "seg_data<7>" LOCATE = SITE "AP22" LEVEL 1;
COMP "clk" LOCATE = SITE "H28" LEVEL 1;
COMP "key_input" LOCATE = SITE "A9" LEVEL 1;
COMP "seg_data<0>" LOCATE = SITE "AP14" LEVEL 1;
COMP "seg_data<1>" LOCATE = SITE "AN14" LEVEL 1;
COMP "seg_data<2>" LOCATE = SITE "AP15" LEVEL 1;
COMP "seg_data<3>" LOCATE = SITE "AP17" LEVEL 1;
SCHEMATIC END;

